@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground antialiased;
}

@media print {
  @page {
    margin: 1.5cm;
  }

  body {
    font-size: 12pt;
  }

  .print\:hidden {
    display: none !important;
  }
}
